vendor/

web/node_modules/
web/coverage/
web/build/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.idea/

# Test binary, built with `go test -c`
*.test

bin
.go
.push-*
.container-*
.dockerfile-*

go.sum

.vscode/

/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
